
:root {
	--color-blue: #83af9b;
	--color-green: #c8c8a9;
	--color-brown: #774f38;
	--color-beige: #ece5ce;
	--color-green:  #009879;
	--color-pink: #fe4365;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font: 2vw system-ui;
  background-color: var(--color-green);
}

body p {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: --color-brown;
  background-color: var(--color-beige);
  padding: 50px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px var(--color-blue);
  font-family: "Baloo 2", cursive;

}
body p:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-fill-color: var(--color-beige);
  text-shadow: 22px 22px var(--color-blue);
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: var(--color-beige);
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px var(--color-blue);
  z-index: -2;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

/* ---- BTNS ---- */

.return-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 4rem;
}

span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "Return";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--color-beige);
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: var(--color-green);
  background: var(--color-beige);
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: var(--color-beige);
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
   transition: all 0s ease-in-out;
}
