<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="https://fonts.googleapis.com/css?family=Baloo+2:400,800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/error.css">
		<title>NTT Data Spring Taller 4</title>
	</head>
	<body>

		<p>An error has ocurred <br> I'm sorry but our princess is in another castle...</p>
		<div class="return-btn btn">
			<span><a th:href="@{/}"></a></span>
		</div>
	</body>
</html>