<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="/css/navbar.css">
		<link rel="stylesheet" href="/css/main.css">
		<title>NTT Data Spring Taller 4</title>
	</head>
	<body>
	<h1 class="section-title">NTT Data Spring</h1>
	<h4 class="section-subtitle">Taller 4</h4>
	<nav class="navMenu">
		<div class="showclient-btn btn">
			<span><a href="/springMVC/show-clients"></a></span>
		</div>
		<div class="addclient-btn btn">
			<span><a href="/springMVC/register"></a></span>
		</div>
		<div class="searchbyname-btn btn">
			<span><a href="/springMVC/search-name-client"></a></span>
		</div>
		<div class="searchbydni-btn btn">
			<span><a href="/springMVC/search-dni"></a></span>
		</div>
	</nav>
	</body>
</html>